/* src/components/Header.css */

header.header {
  position: relative;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  aspect-ratio: 1980 / 300;
  background: transparent;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  z-index: 0;
}

.zodiac-svg {
  width: 100%;
  height: 100%;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 2s ease;
}

/* ↓スマホ・タブレット用の表示調整 */
@media (max-width: 768px) {
  header.header {
    height: 200px
    aspect-ratio: auto;
  }
}

@media (max-width: 400px) {
  header.header {
    height: 100px:
    aspect-ratio: auto;
  }
}
